@use "../../typography" as *
@use "../../variables" as *

.social-nets-conteiner-animation
  opacity: 1
  position: absolute
  right: 300px
  top: 175px
  overflow: hidden

  @media (max-width: 1200px)
    right: 20px
    top: 150px

  .social-nets-conteiner
    .social-nets-link
      overflow: hidden
      text-decoration: none
      font-family: $light_font
      font-size: 25px
      color: $gray
      background: none
      border: none