@use "../variables" as *

.cursor-object
  width: 20px
  height: 20px
  border: solid 1px $white
  position: fixed
  z-index: 9999
  border-radius: 100%
  pointer-events: none
  transition: all 120ms ease-out
  mix-blend-mode: difference

  @media (pointer: coarse)
    display: none