@use "../variables" as *

.cursor-object
  width: 20px
  height: 20px
  border: solid 1px $white
  position: fixed
  z-index: 9999
  border-radius: 100%
  //background-color: $white
  pointer-events: none
  transition: all 120ms ease-out
  mix-blend-mode: difference

  @media (max-width: 1000px)
    display: none