node_modules
package-lock.json
.pnp.cjs
.pnp.loader.mjs

*.tmp

.env.local
.env.development.local
.env.test.local
.env.production.local

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

coverage/
public/

.git
.DS_Store
Thumbs.db

*.png
*.jpg
*.jpeg
*.gif
*.svg
*.tiff
*.bmp
*.webp
*.woff
*.woff2
*.eot
*.ttf
*.otf

*.min.css
*.min.css.map
*.css.map

.prettierignore
*.snap

*.pdf
*.mp4
*.mov
*.avi
*.mkv
*.tar
*.gz
*.rar
*.7z