@font-face {
  font-family: "Nokia Pure Headline";
  src: url("../../../assets/fonts/NokiaPureHeadline-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nokia Pure Text";
  src: url("../../../assets/fonts/Nokia Pure Text.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.text-conteiner {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}
@media (max-width: 700px) {
  .text-conteiner {
    height: 400px;
  }
}
.text-conteiner .text-animation-conteiner {
  position: absolute;
  overflow: hidden;
  opacity: 0;
}
.text-conteiner .text-animation-conteiner.animate {
  opacity: 1;
}
@media (max-width: 650px) {
  .text-conteiner .text-animation-conteiner.animate {
    position: absolute;
    top: 20px;
  }
}
.text-conteiner .text-animation-conteiner.animate .text-content {
  width: 762px;
  font-size: 33px;
  font-family: "Nokia Pure Headline", sans-serif;
  color: #0F1012;
  text-align: center;
  overflow: hidden;
  animation: reveal 2s cubic-bezier(0.77, 0, 0.175, 1);
}
@keyframes reveal {
  0% {
    transform: translate(0, 150%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@media (max-width: 900px) {
  .text-conteiner .text-animation-conteiner.animate .text-content {
    width: 710px;
  }
}
@media (max-width: 700px) {
  .text-conteiner .text-animation-conteiner.animate .text-content {
    width: 344px;
    font-size: 20px;
  }
}
.text-conteiner .text-animation-conteiner.animate .text-content .text-accent {
  font-size: 35px;
  font-family: "Nokia Pure Text", sans-serif;
  color: #0071E3;
}
@media (max-width: 700px) {
  .text-conteiner .text-animation-conteiner.animate .text-content .text-accent {
    font-size: 20px;
  }
}
.text-conteiner .button-animation-conteiner {
  opacity: 0;
}
.text-conteiner .button-animation-conteiner.animate {
  opacity: 1;
}
.text-conteiner .button-animation-conteiner.animate .text-button-one {
  position: relative;
  background: none;
  border: none;
  animation: blurEffect 2s ease-in-out;
  margin-top: 350px;
  cursor: pointer;
}
@keyframes blurEffect {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}
@media (max-width: 650px) {
  .text-conteiner .button-animation-conteiner.animate .text-button-one {
    margin-top: 50px;
  }
}
.text-conteiner .button-animation-conteiner.animate .text-button-one .text-button-text-one {
  font-family: "Nokia Pure Headline", sans-serif;
  font-size: 19px;
  color: #0071E3;
}
.text-conteiner .button-animation-conteiner.animate .text-button-two {
  width: 130px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: none;
  border: 1px #989898 solid;
  border-radius: 100px;
  animation: blurEffect 2s ease-in-out;
  transition: background-color 0.4s ease, color 1s ease;
  margin-top: 350px;
  cursor: pointer;
}
@keyframes blurEffect {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}
@media (max-width: 650px) {
  .text-conteiner .button-animation-conteiner.animate .text-button-two {
    margin-top: 50px;
  }
}
.text-conteiner .button-animation-conteiner.animate .text-button-two .text-button-text-two {
  font-family: "Nokia Pure Headline", sans-serif;
  font-size: 24px;
  color: #989898;
}
.text-conteiner .button-animation-conteiner.animate .text-button-two:hover {
  background-color: #0071E3;
  border: none;
}
.text-conteiner .button-animation-conteiner.animate .text-button-two:hover .text-button-text-two {
  color: #FFFFFF;
}

/*# sourceMappingURL=TextBlock.css.map */
