@use "../../typography" as *
@use "../../variables" as *
@use "../../mixins" as *

.name-conteiner
  display: flex
  width: 100%
  height: 800px
  background-color: $black

  @media (max-width: 650px)
    height: 600px

  .name-introduction
    position: absolute
    left: 100px
    top: 350px
    z-index: 2
    overflow: hidden

    @media (max-width: 1200px)
      left: 16px

    .name-animation-conteiner
      @include reveal-animation(1.5s, reveal, cubic-bezier(0.77, 0, 0.175, 1), (0, 150%, 0, 0))

      .name-element
        font-size: 125px
        font-family: $bold_font
        color: $purple

        @media (max-width: 650px)
          font-size: 50px

      .specialisation-conteiner
        display: flex
        align-items: center
        gap: 16px
        font-size: 20px
        font-family: $light_font
        color: $gray
        padding-left: 10px

        @media (max-width: 650px)
          font-size: 15px

        .specialisation-content
          display: flex
          justify-content: center
          align-items: center
          width: 260px
          height: 35px
          color: $gray
          border: 1px $gray solid
          border-radius: 50px

          @media (max-width: 650px)
            font-size: 15px
            width: 203px
            height: 28px